/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
//#include <locale/keys_de.h>
#include "keys_de.h"

#define QWERTY 0
#define KOY_BASE 1
#define KOY_BASE_SYMBOL 2
#define KOY_NUM 3


//- brauche super key noch irgendwo


// &sk for sticky keys
// stays pressed until another is released

&sk {

  release-after-ms = <1000>;
  quick-release;
  /delete-property/ ignore-modifiers;

}

// maybe use tapdance to handle layers
//- one tap for nextkeypress and then go back
// 2 and hold for toggle layer
// 

/ {

      behaviors {
          tdshift: tap_dance_0 {
              compatible = "zmk,behavior-tap-dance";
              #binding-cells = <0>;
              tapping-term-ms = <100>;
              bindings = <&kp LSHIFT>, <&kp CAPS>;
          };
      };

      keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//               | GUI | KOY_Sym | SPC |   | ENT | KOY_NUM  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &to KOY_BASE &mo KOY_BASE_SYMBOL &kp SPACE   &kp RET &mo KOY_NUM &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };


                koy_base_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  k  |  .  |  o  |  ,  |  y  |   |  v  |  g  |  c  |  l  |  ß das hier auf extra layer?  | z oder BSPC? |
// | CTRL?|  h   |  a  |  e  |  i  |  u   |   |  d  |  t  |  r  |  n  |  s  |  f   |
// | SHFT |  x  |  q   |  ä   |  ü   |   |  ö  |  b  |  p  |  w  | m |  j   |
//  layer  somewhere
//                    | GUI | LWR | SPC |   | ENT | RSE | ALT |

                        bindings = <
   &kp  TAB  &kp K  &kp DOT  &kp O &kp COMMA &kp Y &kp V &kp G &kp C &kp L &kp Z &kp BSPC
   &kp LCTRL &kp H  &kp A    &kp E &kp I     &kp U &kp D &kp T &kp R &kp N &kp S &kp F
   &kp tdshift &trans &kp X    &kp Q &kp Ä &kp Ü &kp B &kp P &kp W &kp M &kp J &kp RSHFT 
             &kp LGUI &mo KOY_NUM  &kp SPACE   &kp RET   &mo KOY_BASE_SYMBOL   &kp RALT
                        >;
                };


                koy_first_symbol_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  ... /replace? |  _  |  [  |  ]  |  ^  |    |  !  |  <  |  >  |  =  |  &  | ſ replace? (ß maybe) |
// | CTRL |  \  |  /  |  {  |  }  |  *  |               |  ?  |  (   |  )  |  -  |  :  |  @   |
// | hold-tap SHFT |  #  |  $  |  "|"  |  ~  |  `  |    |  +  |  %  |  "  |  '  |  ; |  stuff  |
//           what to do here?| GUI | LWR | SPC |   | ENT | RSE  | ALT |

                        bindings = <
   &kp TAB   &trans &kp UNDERSCORE &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp CARET &kp EXCLAMATION &kp LT  &kp GT    &kp EQ   &kp AMPERSAND &trans  
   &kp LCTRL &kp BACKSLASH &kp SLASH &kp LEFT_BRACE &kp RIGHT_BRACE &kp ASTERISK   &kp QUESTION &kp LEFT_PARANTHESIS  &kp RIGHT_PARANTHESIS &kp MINUS &kp COLON &kp AT
   &kp LSHFT &kp HASH &kp DOLLAR &kp PIPE &kp TILDE &kp GRAVE &kp PLUS &kp PERCENT &kp DOUBLE_QUOTE &kp DOT &kp SEMICOLON &kp ESC
                  &kp LGUI &trans &kp SPACE   &kp RET &trans &kp RALT
                        >;
                };

                koy_num_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  k  |  .  |  o  |  ,  |  y  |   |  v  |  g  |  c  |  l  |  ß das hier auf extra layer?  | z oder BSPC? |
// | CTRL?|  h   |  a  |  e  |  i  |  u   |   |  d  |  t  |  r  |  n  |  s  |  f   |
// | SHFT |  x  |  q   |  ä   |  ü   |   |  ö  |  b  |  p  |  w  | m |  j   |
//  layer  somewhere
//                    | GUI | LWR | SPC |   | ENT | RSE | ALT |

                        bindings = <
   &kp  TAB  &kp PAGE_UP  &kp BSPC  &kp UP_ARROW  &kp DELETE &kp PAGE_DOWN  &trans &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp PLUS &kp MINUS 
   &kp LCTRL &kp HOME  &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp END &trans &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp COMMA &kp DOT 
   &kp tdshift &kp ESC &kp TAB &trans &kp RET &trans &kp COLON &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp SEMICOLON &kp RSHFT 
             &kp LCTRL &trans  &kp SPACE   &kp RET   &trans   &kp RALT
                        >;
                };
        };
};

